@media only screen and (min-width: 1000px) {
  .activity-div {
    border: 1px solid #69c7bf;
    border-radius: 6px;
    background: white;
    padding: 20px;
    width: 340px;
    height: auto;
    min-height: 202px;
    position: relative;
    z-index: 1;
    margin: 10px;
  }

  .activity-title {
    font-size: 20px;
    line-height: 19px;
    font-weight: 600;
    color: #094a59;
    margin-top: 5px;
  }

  .activity-genre {
    height: auto;
    width: fit-content;
    min-width: 60px;
    padding: 5px 12px;
    background-color: #5c5d5e;
    border-radius: 50px;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: white;
    text-align: center;
  }

  .activity-rating-good {
    position: absolute;
    right: 5%;
    top: 8%;
    margin: 0;
    color: #69c7bf;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
  }

  .activity-rating-ok {
    position: absolute;
    right: 5%;
    top: 8%;
    margin: 0;
    color: #f8b653;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
  }

  .activity-rating-bad {
    position: absolute;
    right: 5%;
    top: 8%;
    margin: 0;
    color: red;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
  }

  .activity-comments {
    font-weight: 300;
    font-size: 13px;
    width: 300px;
    line-height: 17px;
    color: #5c5d5e;
  }
  .activity-deletebutton {
    z-index: 2;
    border: solid 1px #69c7bf;
    border-radius: 50px;
    width: 60px;
    font-weight: 300;
    transition: 0.5s;
    font-size: 12px;
    margin-top: 5px;
  }

  .activity-deletebutton:hover {
    cursor: pointer;
    background-color: #b80f0a;
    transition: 1s;
    color: white;
    font-weight: 600;
    border: solid 1px #b80f0a;
  }

  .activity-author {
    font-size: 12px;
    color: #094a59;
    margin-top: -10px;
  }
}

@media only screen and (max-width: 1000px) {
  .activity-div {
    border: 1px solid #69c7bf;
    border-radius: 6px;
    background: white;
    padding: 20px;
    width: 340px;
    height: auto;
    position: relative;
    min-height: 202px;
    z-index: 1;
    margin: 10px;
  }

  .activity-title {
    font-size: 20px;
    line-height: 19px;
    font-weight: 600;
    color: #094a59;
    margin-top: 5px;
  }

  .activity-genre {
    height: auto;
    width: fit-content;
    min-width: 60px;
    padding: 5px 12px;
    background-color: #5c5d5e;
    border-radius: 50px;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: white;
    text-align: center;
  }

  .activity-rating-good {
    position: absolute;
    right: 5%;
    top: 8%;
    margin: 0;
    color: #69c7bf;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
  }

  .activity-rating-ok {
    position: absolute;
    right: 5%;
    top: 8%;
    margin: 0;
    color: #f8b653;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
  }

  .activity-rating-bad {
    position: absolute;
    right: 5%;
    top: 8%;
    margin: 0;
    color: red;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
  }

  .activity-comments {
    font-weight: 300;
    font-size: 13px;
    width: 300px;
    line-height: 17px;
    color: #5c5d5e;
  }
  .activity-deletebutton {
    z-index: 2;
    border: solid 1px #69c7bf;
    border-radius: 50px;
    width: 60px;
    font-weight: 300;
    transition: 0.5s;
    font-size: 12px;
    margin-top: 5px;
  }

  .activity-deletebutton:hover {
    cursor: pointer;
    background-color: #b80f0a;
    transition: 1s;
    color: white;
    font-weight: 600;
    border: solid 1px #b80f0a;
  }

  .activity-author {
    font-size: 12px;
    color: #094a59;
    margin-top: -10px;
  }
}

@media only screen and (max-width: 768px) {
  .activity-div {
    border: 1px solid #69c7bf;
    border-radius: 6px;
    background: white;
    padding: 20px;
    width: 340px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 222px;
    z-index: 1;
    position: relative;
    margin: 10px;
  }

  .activity-title {
    font-size: 20px;
    line-height: 19px;
    font-weight: 600;
    color: #094a59;
    margin-top: 0px;
  }

  .activity-genre {
    height: auto;
    width: fit-content;
    min-width: 60px;
    padding: 5px 12px;
    background-color: #5c5d5e;
    border-radius: 50px;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: white;
    text-align: center;
    margin-top: 10px;
  }

  .activity-rating-good {
    position: absolute;
    right: 5%;
    top: 8%;
    margin: 0;
    color: #69c7bf;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
  }

  .activity-rating-ok {
    position: absolute;
    right: 5%;
    top: 8%;
    margin: 0;
    color: #f8b653;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
  }

  .activity-rating-bad {
    position: absolute;
    right: 5%;
    top: 8%;
    margin: 0;
    color: red;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
  }

  .activity-comments {
    font-weight: 300;
    font-size: 13px;
    width: 300px;
    line-height: 17px;
    color: #5c5d5e;
    margin-top: 10px;
  }
  .activity-deletebutton {
    z-index: 2;
    border: solid 1px #69c7bf;
    border-radius: 50px;
    width: 60px;
    font-weight: 300;
    transition: 0.5s;
    font-size: 12px;
    margin-top: 10px;
  }

  .activity-deletebutton:hover {
    cursor: pointer;
    background-color: #b80f0a;
    transition: 1s;
    color: white;
    font-weight: 600;
    border: solid 1px #b80f0a;
  }

  .activity-author {
    font-size: 12px;
    color: #094a59;
    margin-top: 5px;
  }
}
@media only screen and (max-width: 600px) {
  .activity-div {
    border: 1px solid #69c7bf;
    border-radius: 6px;
    background: white;
    padding: 20px;
    width: 340px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 222px;
    z-index: 1;
    position: relative;
    margin: 10px;
  }

  .activity-title {
    font-size: 20px;
    line-height: 19px;
    font-weight: 600;
    color: #094a59;
    margin-top: 0px;
  }

  .activity-genre {
    height: auto;
    width: fit-content;
    min-width: 60px;
    padding: 5px 12px;
    background-color: #5c5d5e;
    border-radius: 50px;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: white;
    text-align: center;
    margin-top: 10px;
  }

  .activity-rating-good {
    position: absolute;
    right: 5%;
    top: 8%;
    margin: 0;
    color: #69c7bf;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
  }

  .activity-rating-ok {
    position: absolute;
    right: 5%;
    top: 8%;
    margin: 0;
    color: #f8b653;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
  }

  .activity-rating-bad {
    position: absolute;
    right: 5%;
    top: 8%;
    margin: 0;
    color: red;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
  }

  .activity-comments {
    font-weight: 300;
    font-size: 13px;
    width: 300px;
    line-height: 17px;
    color: #5c5d5e;
    margin-top: 10px;
  }
  .activity-deletebutton {
    z-index: 2;
    border: solid 1px #69c7bf;
    border-radius: 50px;
    width: 60px;
    font-weight: 300;
    transition: 0.5s;
    font-size: 12px;
    margin-top: 10px;
  }

  .activity-deletebutton:hover {
    cursor: pointer;
    background-color: #b80f0a;
    transition: 1s;
    color: white;
    font-weight: 600;
    border: solid 1px #b80f0a;
  }

  .activity-author {
    font-size: 12px;
    color: #094a59;
    margin-top: 5px;
  }
}
