@media only screen and (max-width: 599px) {
  .signup-modal {
    position: absolute;
    width: 325px;
    height: 550px;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 8%;
    z-index: 100;
    background: #ffffff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
  }

  .signup-instructions {
    position: absolute;
    text-align: center;
    width: 300px;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #5c5d5e;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 6%;
  }

  .signup-modal #signup-form {
    display: flex;
    position: absolute;
    top: 22%;
    flex-direction: column;
    height: 480px;
    width: 325px;
    z-index: -1;
  }

  .signup-modal #signup-form input {
    width: 250px;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 35px;
    padding: 2px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #5c5d5e;
    padding-left: 10px;
  }

  .signup-modal #signup-form label {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    width: 150px;
    height: 18px;
    margin-left: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .signup-modal #signup-form .signup-button {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%);
    width: 200px;
    height: 50px;

    background: #69c7bf;
    box-shadow: 0px 4px 20px rgba(26, 26, 26, 0.2);
    border-radius: 50px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    transition: 0.5s;
  }

  .cancel {
    z-index: 1;
    position: absolute;
    width: 50px;
    height: 20px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    color: #69c7bf;
  }

  .cancel:hover {
    cursor: pointer;
  }

  /* ERROR HANDLING */

  .error-signup-modal {
    position: absolute;
    width: 325px;
    height: 500px;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 20%;
    z-index: 100;
    background: #ffffff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
  }

  .sign-up-error {
    text-align: center;
    color: red;
    font-size: 15px;
    margin-top: 50px;
  }

  .error-signup-modal .signup-instructions {
    display: none;
  }

  .error-signup-modal #signup-form {
    display: flex;
    position: absolute;
    top: 20%;
    flex-direction: column;
    height: 480px;
    width: 325px;
    z-index: -1;
  }

  .error-signup-modal #signup-form input {
    width: 250px;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 35px;
    padding: 2px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #5c5d5e;
    padding-left: 10px;
    border: 1px solid red;
  }

  .error-signup-modal #signup-form label {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    width: 150px;
    height: 18px;
    margin-left: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .error-signup-modal #signup-form .signup-button {
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%);
  }
}

@media only screen and (min-width: 600px) {
  .signup-modal {
    position: absolute;
    width: 450px;
    height: 560px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0%);
    top: 20%;
    z-index: 100;
    background: #ffffff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
  }

  .signup-instructions {
    position: absolute;
    text-align: center;
    width: 300px;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #5c5d5e;
    transform: translate(-50%, 0%);
    left: 50%;
    right: 50%;
    top: 3%;
  }

  .signup-modal #signup-form {
    display: flex;
    position: absolute;
    top: 14%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 500px;
    width: 450px;
    padding-left: 10%;
    z-index: -1;
  }

  .signup-modal #signup-form input {
    width: 375px;
    height: 45px;
    padding: 2px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #5c5d5e;
    padding-left: 10px;
  }

  .signup-modal #signup-form label {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    width: 150px;
    margin-left: 10px;
    color: #094a59;
    height: 18px;
  }
  .sign-up-buttons {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    height: fit-content;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    margin-left: -20px;
    justify-content: space-between;
  }

  .signup-modal #signup-form .signup-button {
    margin-top: 30px;
  }

  .cancel {
    z-index: -1;
    width: 50px;
    height: 20px;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    color: #69c7bf;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .cancel:hover {
    cursor: pointer;
  }

  /* ERROR HANDLING */

  .error-signup-modal {
    position: absolute;
    width: 450px;
    height: 530px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0%);
    top: 24%;
    z-index: 100;
    background: #ffffff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
  }

  .sign-up-error {
    text-align: center;
    color: red;
    font-size: 15px;
    margin-top: 50px;
  }

  .error-signup-modal .signup-instructions {
    display: none;
  }

  .error-signup-modal #signup-form {
    display: flex;
    position: absolute;
    top: 14%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
    width: 450px;
    z-index: -1;
  }

  .error-signup-modal #signup-form input {
    width: 375px;
    height: 45px;
    padding: 2px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #5c5d5e;
    padding-left: 10px;
    border: 1px solid red;
  }

  .error-signup-modal #signup-form label {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    width: 150px;
    height: 18px;
    text-align: center;
  }
}
