* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
}

@media only screen and (max-width: 599px) {
  html {
    height: 100%;
  }
  body {
    height: 100%;
  }
  #root {
    height: 100%;
  }
  .app {
    height: 100%;
  }
  .landing-page-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: center;
  }
  .hero-img {
    width: 243px;
    height: 63px;
    margin-top: 20px;
  }
  .video {
    width: 85%;
    height: 25%;
    margin-bottom: 0px;
  }
  .signinbuttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -30px;
    margin-bottom: 160px;
    height: 100px;
    justify-content: space-around;
  }

  .signup-button {
    width: 200px;
    height: 50px;
    background: #69c7bf;
    box-shadow: 0px 4px 20px rgba(26, 26, 26, 0.2);
    border-radius: 50px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    transition: 0.5s;
  }

  .signup-button:hover {
    cursor: pointer;
    background-color: rgb(82, 156, 150);
    transition: 1s;
  }
  .howtouse-button {
    width: 200px;
    height: 50px;
    background: #69c7bf;
    box-shadow: 0px 4px 20px rgba(26, 26, 26, 0.2);
    border-radius: 50px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    transition: 0.5s;
    margin-top: -30px;
  }
  .howtouse-button:hover {
    cursor: pointer;
    background-color: rgb(82, 156, 150);
    transition: 1s;
  }

  .login-button {
    z-index: 1;
    width: 60px;
    height: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    color: #69c7bf;
    transition: 0.5s;
  }
  .login-button:hover {
    cursor: pointer;
    color: rgb(82, 156, 150);
    transition: 1s;
  }
}

@media only screen and (min-width: 600px) {
  * {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
  }
  html {
    height: 100%;
  }
  body {
    height: 100%;
  }
  #root {
    height: 100%;
  }
  .app {
    height: 100%;
  }
  .landing-page-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: center;
  }

  .hero-img {
    width: 293px;
    height: 73px;
    margin-top: 70px;
  }

  .signinbuttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    margin-top: -30px;
    justify-content: space-around;
  }
  .signup-button {
    width: 200px;
    height: 50px;
    background: #69c7bf;
    box-shadow: 0px 4px 20px rgba(26, 26, 26, 0.2);
    border-radius: 50px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    transition: 0.5s;
  }
  .signup-button:hover {
    cursor: pointer;
    background-color: rgb(82, 156, 150);
    transition: 1s;
  }

  .howtouse-button {
    width: 200px;
    height: 50px;
    background: #69c7bf;
    box-shadow: 0px 4px 20px rgba(26, 26, 26, 0.2);
    border-radius: 50px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    transition: 0.5s;
    margin-top: -30px;
  }
  .howtouse-button:hover {
    cursor: pointer;
    background-color: rgb(82, 156, 150);
    transition: 1s;
  }

  .login-button {
    z-index: 1;
    width: 60px;
    height: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    color: #69c7bf;
    transition: 0.5s;
  }
  .login-button:hover {
    cursor: pointer;
    color: rgb(82, 156, 150);
    transition: 1s;
  }
}
