#hero {
  font-size: 40px;
  text-align: center;
}
header p {
  text-align: center;
  font-size: 18px;
}

/* .buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  height: 100px;
}

/* .button {
  padding: 30px;
  font-size: 25px;
  width: 23%;
} */ */

.recents {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.recents div {
  width: 70%;
  margin: 10px;
  background-color: gray;
}
.recents h3, p {
  text-align: center;
}

.navbar {
  background-color: gray;
  overflow: hidden;
  position: fixed;
  left: 10%;
  bottom: 0;
  width: 80%;
  height: 8%;
  display: flex;
  justify-content: space-evenly;
}

.footer-buttons {
  padding: 10px;
  margin:0px;
  width:25%;
  font-size: 15px;
}