#hero {
  font-size: 40px;
  text-align: center;
}
header p {
  text-align: center;
  font-size: 18px;
}

 /* .buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  height: 100px;
} 

.button {
  padding: 30px;
  font-size: 25px;
  width: 23%;
}  */

.recents {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.recents div {
  width: 70%;
  margin: 10px;
  margin-left: 50%;
  margin-right: 50%;
  transform: translate(-50%,0);
  background-color:white;
  border: 1px black solid;
}
.recents h3, p {
  text-align: center;
}
