/* * {
  box-sizing: border-box;
  -webkit-appearance: none;
}
#hero {
  font-size: 50px;
  text-align: center;
}
header p {
  text-align: center;
  font-size: 18px;
}

 .buttons {
  margin-top: 30px;
  padding: 0px;
  height: 100px;
} 

.button {
  padding: 20px;
  font-size: 25px;
  width: 30%;
  border-radius: 20px;
  background-color: white;
  border: black 1px solid;
  margin-bottom: 30px;
} 

.results {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 100px;
}

.results div {
  width: 70%;
  margin: 10px;
  margin-left: 50%;
  margin-right: 50%;
  transform: translate(-50%,0);
  background-color:white;
  border: 1px black solid;
}
.results h3, p {
  text-align: center;
} */
