
@media only screen and (max-width: 599px) {
  .footer {
    position: fixed;
    bottom: 0;
    width: inherit;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 10;
  }
  .footer-buttons {
    width: 33.33%;
    height: 100%;
    font-size: 16px;
    margin: -1px;
    border-top: 2px solid #094A59;;
    border-right: 1px solid #094A59;
    background-color: #FFFFFF;
    color: #094A59;
    font-weight: 600;
  }
  .footer-buttons:hover {
    cursor: pointer;
    background-color: #69C7BF;
  }


}

@media only screen and (min-width: 600px) {
  .footer {
    display: none;
  }
}