.navbar {

  position: fixed;
  left: 25%;
  bottom: 0;
  width: 80%;
  height: 8%;
  display: flex;
  justify-content: space-evenly;
  align-items: fill;
}
.footer-buttons {
  padding: 15px;
  margin:.2px;
  width: 35%;
  font-size: 15px;
  /* border: 1px solid black; */
}

/* #footer-left {
  margin-left: 25%;
} */