.viewbuttons {
  position:fixed;
  background: white;
  opacity: 1;
  width: 500px;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 20px;
  margin-top: 100px;
}
.viewbuttons p {
  font-size: 20px;
  margin-bottom: 40px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: space-evenly;
}

.buttons-container .view {
  width: 150px;
  border: 1px black solid;
  margin: 5px;
  height: 75px;
  /* padding-top: 30px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.buttons-container a {
  text-decoration: none;
  color: black;
}